@model Locatic.Models.Reservation

<h1>Créer réservation</h1>

<form asp-action="Create" method="post">

    <label>Client</label>
    <select asp-for="ClientId" asp-items="ViewBag.Clients"></select>

    <br><br>

    <label>Voiture</label>
    <select asp-for="VoitureId" asp-items="ViewBag.Voitures"></select>

    <br><br>

    <label>Date début</label>
    <input asp-for="DateDebut" type="date" />

    <br><br>

    <label>Date fin</label>
    <input asp-for="DateFin" type="date" />

    <br><br>

    <button type="submit">Réserver</button>

</form>