@model Locatic.Models.Marque

<h1>Ajouter une marque</h1>

<form method="post">

    <label>Nom</label>
    <input asp-for="Nom" />

    <br />
    <br />

    <button type="submit">
        Enregistrer
    </button>

</form>